.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 5.55rem; // Adjusted height
    width: 5.55rem; // Adjusted width
    position: fixed;
    top: 4.76rem; // Adjusted top position
    right: 4.76rem; // Adjusted right position
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem $box-shadow-color;
    text-align: center;
    cursor: pointer;

    @include respond(tablet-portrait) {
      top: 3.17rem;
      right: 3.17rem;
    }

    @include respond(phone) {
      top: 2.38rem;
      right: 2.38rem;
    }
  }

  &__background {
    height: 4.76rem; // Adjusted height
    width: 4.76rem; // Adjusted width
    border-radius: 50%;
    position: fixed;
    top: 5.16rem; // Adjusted top position
    right: 5.16rem; // Adjusted right position
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tablet-portrait) {
      top: 3.57rem;
      right: 3.57rem;
    }

    @include respond(phone) {
      top: 2.78rem;
      right: 2.78rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  &__list {
    @include absCenter;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2.38rem; // Adjusted font size
      font-weight: 300;
      padding: 0.79rem 1.58rem; // Adjusted padding
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 250%;
      transition: all .4s;

      span {
        margin-right: 1.19rem; // Adjusted margin-right
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 2.78rem; // Adjusted margin-top

    &,
    &::before,
    &::after {
      width: 2.38rem; // Adjusted width
      height: 1.58px; // Adjusted height
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -0.63rem; // Adjusted top position
    }

    &::after {
      top: 0.63rem; // Adjusted top position
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
