/* Pseudo classes of the button selector */
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; /* Allows for padding and margin */
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative; /* Allows for the after pseudo class to be positioned relative to the button */
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /* X, Y, Blur, Color */

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  /* after pseudo class always requires content and display */
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%; /* AS a child of the button, to have the same size */
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Behind the button */
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; /* Automatically apply the styles before the animation starts (opacity: 0;) */
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block; // Allows for box-model padding and margin
    text-decoration: none;
    border-bottom: .1rem solid $color-primary;
    padding-bottom: .3rem;
    transition: all .2s; // All properties will transition over .2 seconds
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15); // X, Y, Blur, Color(rgba allows for transparency)
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15); // X, Y, Blur, Color(rgba allows for transparency)
    transform: translateY(0);
  }
}
