.feature-box {
  height: 30rem;
  background-color: rgba($color-white, 0.8);
  font-size: $default-font-size;
  padding: 1.98rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.19rem 3.17rem rgba($color-black, .15);
  transition: transform 0.2s;

  @include respond(tablet-portrait-2) {
    height: auto;
  }

  &__icon {
    font-size: clamp(34px, 5rem, 110px);
    margin-bottom: 0.4rem;
    display: inline-block;
    background-image: linear-gradient(to right,
      $color-primary-light,
      $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.19rem) scale(1.03);
  }
}
