// Style the popup window background, covering the entire screen and hidden by default
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 9999; // On top of everything
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); // Blur the background

  // -webkit-backdrop-filter: blur(10px);
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, .3);
  }

  &__content {
    @include absCenter; // To center
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem $box-shadow-color;
    border-radius: 3px;
    display: table; // Use table to create two columns, left and right
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25); // Scale down to 25% to give a zoom in/out open and close effect
    transition: all .5s .2s; // Delay the transition to give a nice effect
  }

  // Left side of the popup
  &__left {
    width: 33.333333333%; // 1/3 of the table
    display: table-cell; // Left column
  }

  // Right side of the popup
  &__right {
    width: 66.666666666%; // 2/3 of the table
    display: table-cell;  // Right column
    vertical-align: middle;
    padding: 2.38rem 3.96rem;

    .heading-secondary {
      padding: 0;
    }
  }

  // Align images vertically
  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: $default-font-size;
    margin-bottom: 3.17rem;
    -moz-column-count: 2;
    -moz-column-gap: 3.17rem;
    -moz-column-rule: 1px solid $color-grey-light-2;
    column-count: 2; // Create two columns of text
    column-gap: 3.17rem; // Gap between columns
    column-rule: 1px solid $color-grey-light-2; // Line between columns
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; // Hyphenate words at the end of a line when needed
  }

  &:target {
    opacity: 1; // Make the popup visible
    visibility: visible;
  }

  &:target &__content { // When the popup is targeted, make the content visible
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  // Create a close pupup button
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark-1;
      position: absolute;
      top: 1.98rem;
      right: 1.98rem;
      font-size: clamp(14px, 2.38rem, 54px);
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

  // Change styling to flexbox for smaller screens to bring images to the top and move button to the right
  @include respond(tablet-portrait-2) {
    .popup {
      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &__left {
        display: flex;
        width: 100%;
      }

      &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        padding: 2.38rem 3.96rem;

        .btn--green {
          align-self: flex-end;
        }
      }

      &__img {
        display: flex;
        width: 50%;
        object-fit: cover;
        margin: 0 auto;
      }

      &__close {
        &:link,
        &:visited {
          top: 1.5rem;
        }
      }
    }
  }
}
