// Desktop first, coding for default layout desktop-medium 1920 x 1080 (16:9, typical for medium desktops)

// Base style: reset margin, padding, and box-sizing
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // Inherited
}

// Base style: default font size
html {
  // Setting universal size for responsive design/media queries
  // font-size: 62.5%;  Defines 1 rem. 1rem = 10px (Set default 16px to 10px = 62.5% (always use %, not px)).

  // 1rem = 19px (Base size) for desktop-medium
  font-size: 118.75%;

  // Desktop first: From largest to smallest so that the declaration of the last media query that applies to the given browser width will be the one that is used (since it appears last in the stylesheet)

  // Ultra-wide monitors
  @include respond(monitor-ultrawide) {
    font-size: 136.875%; // 1rem = 26px (Approx.)
  }

  // Large desktops
  @include respond(desktop-large) {
    font-size: 106%; // 1rem = 20.14px
  }

  // Medium desktops (default size)
  @include respond(desktop-medium) {
    font-size: 100%; // 1rem = 19px (Base size)
  }

  // Standard desktops
  @include respond(desktop) {
    font-size: 89.9% // 1rem = 17px
  }

  // Small desktops
  @include respond(desktop-small) {
    font-size: 84.5%; // 1rem = 16px
  }

  // Large laptops
  @include respond(laptop-large) {
    font-size: 78.9%; // 1rem = 15px
  }

  // Standard laptops
  @include respond(laptop) {
    font-size: 73.75%; // 1rem = 14px
  }

  // Small laptops
  @include respond(laptop-small) {
    font-size: 62.5%; // 1rem = 12px
  }

  // Tablets in landscape orientation
  @include respond(tablet-landscape) {
    font-size: 62.5%; // 1rem = 12px
  }

   // Tablets in portrait orientation
   @include respond(tablet-portrait-2) {
    font-size: 59.375%; // 1rem = 11px
  }

  // Tablets in portrait orientation
  @include respond(tablet-portrait) {
    font-size: 53.125%; // 1rem = 10px
  }

  // Large smartphones
  @include respond(phone) {
    font-size: 46.875%; // 1rem = 9px
  }

  // Large smartphones
  @include respond(mobile-lg) {
    font-size: 42.5%; // 1rem = 8px
  }

    // Large smartphones
    @include respond(mobile-md) {
      font-size: 37.5%; // 1rem = 7px
    }

  // Small smartphones
  @include respond(mobile-sm) {
    font-size: 31.25%; // 1rem = 6px
  }
}

// Base style: set border-box for all elements and padding around the edge of the page
body {
  box-sizing: border-box; // Allows for padding and border to be included in the width
  padding: 2.38rem; // Border around the whole edge of the page
}

// Base style: set styling for heighlighted text
::selection {
  background-color: $color-primary;
  color: $color-white;
}
