// Desktop first, coding for default layout desktop-medium 1920 x 1080 (16:9, typical for medium desktops)

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Setting universal size for responsive design/media queries
  font-size: 62.5%; // Defines 1 rem. 1rem = 10px (Set default 16px to 10px = 62.5% (always use %, not px)).

  // Desktop first: From largest to smallest so that the declaration of the last media query that applies to the given browser width will be the one that is used (since it appears last in the stylesheet)

  // Ultra-wide monitors
  // Ultra-wide monitors
  @include respond(monitor-ultrawide) {
    font-size: 137.5%; // 1rem = 22px
  }

  // Large desktops
  @include respond(desktop-large) {
    font-size: 125%; // 1rem = 20px
  }

  // Medium desktops
  @include respond(desktop-medium) {
    font-size: 118.75%; // 1rem = 19px
  }

  // Standard desktops
  @include respond(desktop) {
    font-size: 112.5%; // 1rem = 18px
  }

  // Small desktops
  @include respond(desktop-small) {
    font-size: 106.25%; // 1rem = 17px
  }

  // Large laptops
  @include respond(laptop-large) {
    font-size: 100%; // 1rem = 16px
  }

  // Standard laptops
  @include respond(laptop) {
    font-size: 93.75%; // 1rem = 15px
  }

  // Small laptops
  @include respond(laptop-small) {
    font-size: 87.5%; // 1rem = 14px
  }

  // Tablets in landscape orientation
  @include respond(tablet-landscape) {
    font-size: 81.25%; // 1rem = 13px
  }

  // Tablets in portrait orientation
  @include respond(tablet-portrait) {
    font-size: 75%; // 1rem = 12px
  }

  // Large smartphones
  @include respond(mobile-lg) {
    font-size: 68.75%; // 1rem = 11px
  }

  // Small smartphones
  @include respond(mobile-sm) {
    font-size: 62.5%; // 1rem = 10px (Base size)
  }
}

body {
  box-sizing: border-box; // Allows for padding and border to be included in the width
  padding: 3rem; // Border around the whole edge of the page

  @include respond(tablet-portrait) {
    padding: 0rem; // Remove padding starting at 900px
  }
}


::selection {
  background-color: $color-primary;
  color: $color-white;
}
