*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* Defines 1 rem. Set default 16px to 10px = 62.5% (always use %, not px) so 1rem = 10px. Setting universal size for responsive design/media queries */
}

body {
  box-sizing: border-box; /* Allows for padding and border to be included in the width */
}
