body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark-1;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden; /* In this case, fix to help with the animation shake bug*/
  margin-bottom: 4.76rem; /* Margin for white-space */

  &__main {
    display: block;
    font-size: 4.76rem;
    font-weight: 400;
    letter-spacing: 2.77rem;
    /* Animation-name and -duration are the only two properties required for animation to work */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
    animation-delay: 3s;
    animation-iteration-count: 3;
    */

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &__sub {
    display: block;
    font-size: 1.59rem;
    font-weight: 700;
    letter-spacing: 1.39rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-tertiary {
  font-size: 1.27rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.27rem;

  &:not(:last-child) {
    margin-bottom: 2.38rem;
  }
}
