.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-huge {
  margin-bottom: 6.34rem !important;

  @include respond(tablet-portrait) {
    margin-bottom: 3.96rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 5rem !important;

  @include respond(tablet-portrait) {
    margin-bottom: 3.96rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 3.17rem !important;

  @include respond(tablet-portrait) {
    margin-bottom: 2.38rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.19rem !important;
}

.u-margin-top-huge {
  margin-top: 7.93rem !important;
}

.u-margin-top-big {
  margin-top: 6.34rem !important;
}

.u-margin-top-small {
  margin-top: 5rem !important;
}
