.section-about {
  scroll-snap-align: center;
  background-color: $color-grey-light-1;
  padding: 19em 5rem;
  margin-top: -14rem;

  @include respond(moniter-ultrawide) {
    padding: 25em 5rem;
    margin-top: -16rem;
  }
}

.section-features {
  scroll-snap-align: center;
  background-image: linear-gradient(to right bottom,
  rgba($color-primary-light, 0.8),
  rgba($color-primary-dark, 0.8)),
  url(../img/nat-4.jpg);
  background-size: cover;
  padding: 19rem 5rem;
  margin-top: -9rem;

  @include respond(moniter-ultrawide) {
    padding: 25em 5rem;
    margin-top: -11rem;
  }

  transform: skewY(-6deg);

  & > * {
    transform: skewY(6deg);
  }

  @include respond(tablet-portrait-2) {
    transform: skewY(-5deg);

    & > * {
      transform: skewY(5deg);
    }
  }
}

.section-tours {
  scroll-snap-align: center;
  background-color: $color-grey-light-1;
  padding: 19rem 5rem 9rem 5rem;
  margin-top: -9rem;

  @include respond(moniter-ultrawide) {
    padding: 25em 5rem;
    margin-top: -11rem;
  }
}

.section-stories {
  scroll-snap-align: center;
  position: relative;
  padding: 9rem 5rem;
}

.section-book {
  scroll-snap-align: center;
  padding: 9rem 5rem;
  background-image: $background-gradient-primary;

  .book {
    background-image: linear-gradient(105deg,
      rgba($color-white, .9) 0%,
      rgba($color-white, .9) 50%,
      transparent 50%),
    url(/img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    background-size: cover;
    background-position: top center;

    @include respond(tablet-portrait-2) {
      background-image: linear-gradient(105deg,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 55%,
        transparent 55%),
      url(/img/nat-10.jpg);
    }

    @include respond(tablet-portrait) {
      background-image: linear-gradient(to right,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 100%),
      url(/img/nat-10.jpg);
    }

    &__form {
      width: 50%;
      padding: 4.758rem;

      @include respond(tablet-portrait-2) {
        width: 59%;
      }

      @include respond(tablet-portrait) {
        width: 100%;
      }
    }
  }
}

.section-stories,
.section-book {

  @include respond(tablet-portrait) {
    padding: 7.93rem 3rem;
  }
}
