.section-about {
  scroll-snap-align: center;
  background-color: $color-grey-light-1;
  padding: 18rem 0; // Adjusted padding
  margin-top: -15.86rem; // Adjusted margin-top

  @include respond(tablet-portrait) {
    padding: 15.86rem 0; // Adjusted padding for tablet
  }
}

.section-features {
  scroll-snap-align: center;
  padding: 15.86rem 0; // Adjusted padding
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
  url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -7.93rem; // Adjusted margin-top

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tablet-portrait-2) {
    transform: skewY(-5deg);

    & > * {
      transform: skewY(5deg);
    }
  }


  @include respond(tablet-portrait) {
    padding: 7.93rem 0; // Adjusted padding for tablet
  }
}

.section-tours {
  scroll-snap-align: center;
  background-color: $color-grey-light-1;
  padding: 18rem 0 9rem 0; // Adjusted padding
  margin-top: -7.93rem; // Adjusted margin-top

  @include respond(tablet-portrait) {
    padding: 15.86rem 0 7.93rem 0; // Adjusted padding for tablet
  }
}

.section-stories {
  scroll-snap-align: center;
  position: relative;
  padding: 9rem 0; // Adjusted padding

  @include respond(tablet-portrait) {
    padding: 7.93rem 0; // Adjusted padding for tablet
  }
}

.section-book {
  scroll-snap-align: center;
  padding: 11.9rem 0; // Adjusted padding
  background-image: $background-gradient-primary;

  @include respond(tablet-portrait) {
    padding: 7.93rem 0; // Adjusted padding for tablet
  }

  .book {
    background-image: linear-gradient(105deg,
      rgba($color-white, .9) 0%,
      rgba($color-white, .9) 50%,
      transparent 50%),
    url(/img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    @include respond(tabletlet-landscape) {
      background-image: linear-gradient(105deg,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 65%,
        transparent 65%),
      url(/img/nat-10.jpg);
      background-size: cover;
    }

    @include respond(tablet-portrait) {
      background-image: linear-gradient(to right,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 100%),
      url(/img/nat-10.jpg);
    }

    &__form {
      width: 50%; // Adjusted width
      padding: 4.758rem;

      @include respond(tabletlet-landscape) {
        width: 51.55%; // Adjusted width for landscape
      }

      @include respond(tablet-portrait) {
        width: 79.3%; // Adjusted width for portrait
      }
    }
  }
}
